<div th:if="${mensagem}" th:text="${mensagem}"></div>

<form action="/book/form/save" method="POST">
	<div th:if="${book}">
		<input type="text" readonly id="id" name="id" th:value="${book?.id}" />
	</div>
	
	Nome: <input type="text" id="name" name="name"
		th:value="${book?.name}"
	 />
	Author: <select name="author" class="custom-select">
		<option th:each="author : ${authorlist}"
				th:value="${author.id}"
				th:text="${author.name}"
				th:selected="${author?.id} == ${book?.author?.id}" 
		/>	
	</select>
	<button type="submit">Salvar Livro</button>
</form>